- var card = [
-	{
- 	avatarName: "'assets/img/mark.png'",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM"
- },
-	{
- 	avatarName: "mark",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM"
- }
-	];