- var card = [
-	{
- 	avatarName: "mark",
-		activity: "Mark P. add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "marvin",
-		activity: "Marvin S. add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "sebastian",
-		activity: "Sebastian K. add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "offline"
- },
-	{
- 	avatarName: "mark",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "philip",
-		activity: "Philip O. add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "mark",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "benni",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "benni",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "mark",
-		activity: "Benni I. add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- },
-	{
- 	avatarName: "benni",
-		activity: "Mark P add an Image into Worlda",
-		date: "TODAY, 10:30 PM",
-		status: "online"
- }
-	];