<!DOCTYPE html>
html(lang="en")
include components/mixins.pug
include components/content.pug
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title testTask
	body
		img(src=require("./assets/img/arrow_down.svg"), alt="arrow")
		section.main
			.sidebar
				div
					.avatar
					.board
					.settings
				div
					.upgrade
					.logout
			.dashboard
				header
					div
						.refresh
						.breadcrumbs
					div
						.status
						.chat
							p.isonline 5 users online
				.content
					.projects
						.projectsHeader
						.projectsList
						.projectsButton
					.activityBoard
						+activityCard(card)
						.archivButton Activity Archiv
							|
							span  >
					.messenger
					.search